---
import { APP_NAME } from "../common";
---

<div>
  <div>
    <p>
      {APP_NAME} does not collect, store, or share any personal information or user
      data.
    </p>
    <p>
      This application is designed to function entirely on your device without
      requiring internet access or connecting to any external services for data
      collection.
    </p>
    <p>
      We prioritize your privacy and ensure a secure, private experience with
      Activity Pulse Logger.
    </p>

    <br />

    <p>
      If you have any questions or concerns, please feel free to contact us.
    </p>
  </div>
</div>
